{% extends "GwengoloAdminBundle::template.html.twig" %}

{% block headerBreadCrumb %}

  <h1>
            Ajout d'une spécificité (fait main, etc)
           
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> Spécificité</a></li>
            <li><a href="#"><i class="fa fa-dashboard"></i> Ajout</a></li>
            
          </ol>
{% endblock %}

{% block mainContent %}
	{% if err_friend %}
	<div class="alert alert-danger alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <h4><i class="icon fa fa-ban"></i> Ooops !</h4>
	    {{ err_friend }}
	</div>
	<div class="alert alert-warning alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <h4><i class="icon fa fa-ban"></i> Message d'erreur technique:</h4>
	    <b>{{ err_tech }}</b>
	</div>
	{% endif %}
	{% if successMessage %}
		<div class="alert alert-success alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <h4><i class="icon fa fa-check"></i> Yes !</h4>
	    {{ successMessage }}    
	</div>
	{% endif %}
	{% if successMessage == false %}
	<div id="add-collection-form" class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Formulaire d'ajout</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                  <form role="form" method="POST" action="{{ path('gwengolo_admin_specificity_add') }}">
                  <div class="box-body">
                    <div class="form-group">
                    	{{ form_label(form.name) }}<br>
                      {{ form_widget(form.name) }}
                    </div>

                    <div class="form-group">
                      {{ form_label(form.description) }}<br>
                      {{ form_widget(form.description) }}
                    </div>

                  
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    {{ form_widget(form.save) }}
                  </div>
                </form>
    </div> 
    {% endif %}         
                
  
{% endblock %}