{% extends "GwengoloFrontBundle:home:base.html.twig" %}

	{% block maincontent %}
		<div id="contact-left-col" class="contact-main-col">
					<h1 class="main-content-title">Nous contacter</h1>
					MORGANE PUILLANDRE<br><br><br>
					Téléphone: 0130558478<br><br>
					E-mail: contact@gwengolo.fr
			</div>
			<div id="contact-mid-col" class="contact-main-col">
					<h1 class="main-content-title">Retrouvez nous en boutique</h1>
					<div id="home-map"></div>
			</div>
			<div id="contact-right-col" class="contact-main-col">
					<h1 class="main-content-title">Une question ?</h1>
					<form id="contact-page-form">
						<input id="contact-form-name" type="text" placeholder="Nom" name="contact-form-nom"> 
						<input id="contact-form-telephone" placeholder="Téléphone" type="text" name="contact-form-telephone">
						<input id="contact-form-email" placeholder="Email" type="text" name="contact-form-email">
						<textarea id="contact-form-message" placeholder="Votre message...">

						</textarea>
						<div id="contact-form-validate" class="no-select"><img src="{{ asset('assets/img/envoyer-bleu.png') }}"/> <p>Envoyer</p></div>
					</form>
			</div>
			{%if lastSeenProducts|length > 0 %}
			<div id="lately-consulted-product">
				<div id="lately-consulted-product-content">
					<h1 class="main-content-title">Produits recemment consultés</h1>
					<div class="products-band-product-list">
						{% for product in lastSeenProducts %}
					<a href="{{ path('gwengolo_product', {'productSlug': product.slug }) }}">
					    <div class="product-list-container">
					    	<div class="product-list-background" style="background-color:{{ product.color.code }};">
					    		<div class="hidden-product-price">
					    			<br><br>
				    			{{ product.name }}&nbsp;&nbsp;<br>
				    			A partir de {{ product.price }}€&nbsp;&nbsp;
					    		</div>
					    		<img src="{{ asset('products_img/' ~ product.id ~ '/main/' ~ product.mainImage.name) | imagine_filter('small_product_pic') }}"/>
					    	</div>
					    	<span>{{product.name}}</span>
					    </div>
				    </a>
				    {% endfor %}
				    
				</div>
				</div>
			</div>
			<div class="filler" style="height:80px;width:100%;float:left;"></div>
			{%endif%}

			<script>
			$(function(){
				function MapInit(){
					var mapCanvas = document.getElementById('home-map');
					var mapOptions = {
			          center: new google.maps.LatLng(48.843122, 2.402050),
			          zoom: 15,
			          mapTypeId: google.maps.MapTypeId.ROADMAP
			        }

			    	var map = new google.maps.Map(mapCanvas, mapOptions);
				}

				google.maps.event.addDomListener(window, 'load', MapInit);

				$('.products-band-product-list a').mouseover(function(e){
						e.stopPropagation();
						$(this).children('.product-list-container').children('.product-list-background').children('.hidden-product-price').show();
					});
					$('.products-band-product-list a').mouseout(function(e){
						e.stopPropagation();
						$(this).children('.product-list-container').children('.product-list-background').children('.hidden-product-price').hide();
					});


			});
			</script>
	{% endblock %}
			